<h2>Eventos</h2>
<hr>
<!-- <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
  <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Altura de 25%</div>
  <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Altura de 50%</div>
  <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Altura de 75%</div>
  <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Altura de 100%</div>
  <div class="h-auto d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Altura automática</div>
</div> -->
<div class="container-fluid">
  <div class="d-inline-block h-25" role="search" style="width: 300px;">
    Filtro:
    <input
      type="text"
      class="form-control"
      placeholder="buscar"
      [(ngModel)]="filterList"
    >
    <!-- <button class="btn btn-outline-success">Buscar</button> -->
  </div>
</div>
<!-- <h4>Filtro: {{filterList}}</h4> -->
<!-- table.table.table-striped>(thead.thead-dark>tr>th*8) -->
<table class="table table-striped">
  <thead class="thead-dark" style="width: 120px; background-color: rgba(87, 87, 94, 0.752)">
    <tr>
      <th >
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="viewImage()">
          {{!imageView ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventsFiltered">
      <td>
        <img [collapse]="!imageView"
             [isAnimated]="true"
             src="/assets/{{evento.imagemURL}}"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg"
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm ml-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- {{eventos | json}} -->

